
<div class='head'>$lang.get('proxy.setting.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/proxy' >$lang.get('a.proxy')</a>
	<a href='/admin/proxy/setting' class='selected'>$lang.get('a.setting')</a>
</div>

<form action='/admin/proxy/setting'  method='post' class='form' enctype="multipart/form-data">
	<div><label><h3>$lang.get('proxy.port')(<r>*</r>):</h3><input type='number' name='port' value="$global.getInt('proxy.port', 0)"/></label></div>
	
	<button type='submit'>$lang.get('btn.save')</button>
</form>
